/.idea
/.vscode
/.emacs
/.helix
/Textures
/examples_documentation
/docs/sources.txt
/docs/build/
/3dmodels/
/libraries
/cmake-build-*
/build
/.venv
/.ignoreme
/ignoreme
*.pyc
/sandbox
/.ignoreme
/src/content/*
*.code-workspace

