#version 450
{{ defines }}

#include "core/bind_camera.glsl"
#include "core/bind_lights.glsl"
#include "core/bind_frame_data.glsl"
#include "core/bind_render_data.glsl"

in VS_OUT{
    vec3 FragPos;
    vec3 Normal;
    vec2 TexCoords;
    vec3 WorldPos;
}vs_in;

in CAM_DT {
    mat3 view_matrix;
    float z_camera_ray;
} cam_dt;

in vec2 TexCoords;

layout (location=0) out vec4 FragColor;

{{ code }}
