#version 450
{{ defines }}

layout (location = 0) in vec3 aPos;
layout (location = 1) in vec3 aNormal;
layout (location = 2) in vec2 aTexCoords;

uniform mat4 model;

#include "core/bind_camera.glsl"
#include "core/bind_frame_data.glsl"
#include "core/bind_render_data.glsl"

out VS_OUT {
    vec3 FragPos;
    vec3 Normal;
    vec2 TexCoords;
    vec3 WorldPos;
} vs_out;

out CAM_DT {
    mat3 view_matrix;
    float z_camera_ray;
} cam_dt

{{ code }}


